<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/authPage.css}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>

</head>
<div class="container">
  <div class="upperHalf">
    <div class="introText">SustAInance</div>
    <div id="dataBox">
    </div>
  </div>

  </div>
  <div class="lowerHalf">
    © 2025 SustAInance. This is a work of non-fiction. Any and all mentions of real people, places, or questionable food habits are entirely deliberate. WE (yes, WE) knew what we were doing. All rights reserved, some rights imagined, and any resemblance to real life is absolutely on purpose.
  </div>
</div>
<script th:src="@{/js/authPage.js}"></script>
</body>
</html>