<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Generator - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Recipe Generator</h1>

    <div>
        <h2>Search for Ingredients</h2>
        <input type="search" id="searchBar">



    </div>

    <div class="ingredient-selector">
        <h2>Available Ingredients</h2>
        <div id="baseIngredients">
        </div>
    </div>

    <div class="selected-ingredients">
        <h2>Selected Ingredients</h2>
        <div id="selectedIngredients">
        </div>
    </div>

    <button id="generateRecipe">Generate Recipe</button>

    <div id="recipeResult">
    </div>
</div>
<script th:src="@{/js/recipe-generator.js}"></script>
</body>
</html>