<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overviewer - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/mealView.css}">
</head>
<body>
<div class="container">
<!--    <h1>OverViewer</h1>-->
<!--    <div id="existingPreference"></div>-->
<!--    <div id="existingPlan"></div>-->
    <div class="leftPart">
        <div class="userInfo">
            <img class="PFP">
            <div class="greeting" id="greetingDiv"></div>
        </div>
        <button class="makeMealButton">Make a new meal</button>
        <button class="makePlanButton">Make a new plan</button>
        <button class="setPreferenceButton">Set a new preference</button>
        <button class="settingsButton">settings ⚙</button>
    </div>
    <div class="rightPart">
        <div id="mealUtils"></div>
        <div id="mealInfo"></div>
    </div>
</div>
<script th:src="@{/js/mealView.js}">
</script>
</body>
</html>