<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overviewer - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/overviewer.css}">
</head>
<body>
<div class="container">
<!--    <h1>OverViewer</h1>-->
<!--    <div id="existingPreference"></div>-->
<!--    <div id="existingPlan"></div>-->
    <div class="leftPart">
        <div class="userInfo">
            <img class="PFP">
            <div class="greeting">Hello, fine shyt</div>
        </div>
        <button class="makeMealButton">Make a new meal</button>
        <button class="makePlanButton">Make a new plan</button>
        <button class="setPreferenceButton">Set a new preference</button>
        <button class="settingsButton">settings ⚙</button>
    </div>
    <div class="rightPart">
        <h1>Your Overview:</h1>
        <div class="planInfo">
            <h1>Your plan:</h1>
            <div class="plansDiv"></div>
        </div>
        <div class="favMeals">
            <h1>Your favourite meals:</h1>
            <div class="favMealsDiv"></div>
        </div>
        <div class="yourPreferences">
            <h1>Your Preferences:</h1>
            <div class="preferencesDiv"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/overviewer.js}">
</script>
</body>
</html>