<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preference Selection - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/preferences.css}">
</head>
<body>
<div class="container">

    <div class="leftPart">
        <div class="userInfo">
            <img class="PFP">
            <div class="greeting">Hello, fine shyt</div>
        </div>
        <button class="makeMealButton">Make a new meal</button>
        <button class="makePlanButton">Make a new plan</button>
        <button class="setPreferenceButton">Set a new preference</button>
        <button class="settingsButton">settings ⚙</button>
    </div>


    <div class="rightPart">
        <h1>Preference Selection</h1>
        <div id="existingPreference"></div>
        <input type="text" placeholder="feel free to input any and all preferences you might have" id="preferenceFieldValue">
        </input>
        <button id="saveButton">Save Preference</button>
    </div>
</div>
<script th:src="@{/js/preferences.js}"></script>
</body>
</html>