<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preference Selection - SustAInance</title>
    <link rel="stylesheet" th:href="@{/css/preferences.css}">
</head>
<body>
<div class="container">
    <h1>Preference Selection</h1>
    <div id="existingPreference"></div>
    <input type="text" placeholder="feel free to input any and all preferences you might have" id="preferenceFieldValue">
    </input>
    <button id="saveButton">Save Preference</button>
</div>
<script th:src="@{/js/preferences.js}"></script>
</body>
</html>