html, body{
    font-family: Arial, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftPart{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #000000;
}

.rightPart{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}

.userInfo{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.PFP{
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00ffd6;
}

.greeting{
    color: #000000;
    padding-left: 5%;
}

.makeMealButton{
    width: 80%;
    height: 10%;
    border: 2px solid #000000;
    background-color: #b8ff00;
    color: #000000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.makePlanButton{
    width: 80%;
    height: 10%;
    border: 2px solid #000000;
    background-color: #b8ff00;
    color: #000000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.setPreferenceButton{
    width: 80%;
    height: 10%;
    border: 2px solid #000000;
    background-color: #b8ff00;
    color: #000000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.settingsButton{
    width: 80%;
    height: 10%;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
