<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SustAInance - AI-Powered Recipe Generator</title>
    <link rel="stylesheet" th:href="@{/css/generator.css}">
</head>
<body>
<div class="container">
    <h1>Welcome to SustAInance</h1>
    <nav>
        <ul>
            <li><a th:href="@{/recipe/generator}">Generate Recipe</a></li>
            <li><a th:href="@{/recipe/preferences}">Select Preferences</a></li>
            <li><a th:href="@{/recipe/plan}">Generate meal plan</a></li>
            <li><a th:href="@{/recipe/fauxlogin}">faux login</a></li>
            <li><a th:href="@{/recipe/overviewer}">overview</a></li>

        </ul>
    </nav>
</div>
</body>
</html>