<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SustAInance - AI-Powered Recipe Generator</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</head>
<body>
<div class="container">
    <div class="upperHalf">
        <div class="introText">SustAInance</div>
        <div class="introSubtext">The first automated AI-assisted food guide that helps you with any and all nutritional needs</div>
        <div class="introButtons">
            <button class="logInButton">Log In</button>
            <button class="signUpButton">Sign Up</button>
        </div>

    </div>
    <div class="lowerHalf">
        © 2025 SustAInance. This is a work of non-fiction. Any and all mentions of real people, places, or questionable food habits are entirely deliberate. WE (yes, WE) knew what we were doing. All rights reserved, some rights imagined, and any resemblance to real life is absolutely on purpose.
    </div>
</div>
<script th:src="@{/js/landingPage.js}"></script>
</body>
</html>